Partes/aneA.aux
Partes/apeA.aux
Partes/cap1.aux
Partes/cap2.aux
Partes/pretextual.aux
Principal.aux
Principal.lof
Principal.log
Principal.lot
Principal.pdf
Principal.toc
Principal.bbl
Principal.blg
Principal.synctex.gz
Principal.tex.aux
Principal.tex.bbl
Principal.tex.blg
references.bib.bbl
references.bib.blg